#Shape117,
#wb_Shape9 {
    width: 11px;
    position: absolute;
}

#Shape117,
#Shape20,
#Shape8 {
    border-width: 0
}

#Shape117,
#Shape20 {
    background-color: #af23af
}

#Button22,
#Shape9 {
    background-color: #DCC700;
}

#BtnNode,
#Button13,
#Button14,
#Button15,
#Button16,
#Button17,
#Button18,
#Button19,
#Button20,
#Button21,
#Button22 {
    box-sizing: border-box;
    line-height: 31px;
    text-decoration: none;
    vertical-align: top;
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding: 1px 6px;
    text-align: center;
    margin: 0
}

#Button22,
#Shape117,
#wb_Shape8 {
    position: absolute
}

html {
    appearance: none;
    -webkit-appearance: none
}

#wb_Shape8 {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    left: 878px;
    top: 507px;
    height: 102px;
    z-index: 0
}

#Shape8 {
    vertical-align: top
}

#Shape117 {
    vertical-align: top;
    left: 1030px;
    top: 69px;
    height: 494px;
    z-index: 1
}

#BtnNode,
#Button13,
#Button14,
#Button15,
#Button16,
#Button17,
#Button18,
#Button19,
#Button20,
#Button21 {
    border: 1px solid rgba(46, 109, 164, 0);
    border-radius: 4px;
    background-color: #af23af;
    background-image: none;
    color: #fff;
    appearance: none;
    -webkit-appearance: none
}

#Shape20 {
    vertical-align: top
}

#Button22 {
    border-radius: 4px;
    color: indigo;
    left: 1061px;
    top: 541px;
    width: 248px;
    height: 35px;
    z-index: 13
}