html {
    overflow-x: hidden;
    appearance: none;
    -webkit-appearance: none;
}
body {
    background-color:indigo
}
::-webkit-scrollbar {
    width: 8px;
    background-color: indigo;
  }

  ::-webkit-scrollbar-thumb {
    background: #DCC700;
  }
#home,
#three,
#two {
    animation: 1s fade-in
}

#bkimage {
    background-image: url(img/p1.webp);
    background-repeat: no-repeat;
    background-size: 100vw;
}

#Button1,
#Button2,
#Button3,
#Button4,
#Button5,
#Button6,
#Button7,
#Button8,
#Button8,
#Button9,
#Buttonvs {
    box-sizing: border-box;
    line-height: 35px;
    text-decoration: none;
    vertical-align: top;
    background-color: #dcc700;
    background-image: none;
    color: indigo;
    font-family: Arial;
    font-style: normal;
    padding: 1px 6px;
    text-align: center;
    margin: 0;
    border: 1px solid rgba(46, 109, 164, 0);
    border-radius: 4px;
    font-weight: 700;
    font-size: 24px;
    appearance: none;
    -webkit-appearance: none
}

#Button2,
#Button3,
#Button4,
#Button5,
#Button6:focus,
#Button7,
#Button8,
#Button9:focus {
    outline: 0
}

#wb_Shape3 {
    transform: rotate(180deg);
    transform-origin: 50% 50%
}

#wb_Shape8 {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    position: absolute;
    left: 960px
}

#Shape2,
#Shape3,
#Shape8,
#sha {
    border-width: 0;
    vertical-align: top
}

#Button7,
#Button8,
#Button9 {
    border: 1px solid rgba(46, 109, 164, 0);
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    appearance: none;
    -webkit-appearance: none
}

.fade-in {
    opacity: 0;
    animation: 1s forwards fade-in
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

button:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .171)
}

#title {
    max-width: 600px
}

#home {
    display: block
}

#three,
#two {
    display: none
}

#btnD,#btnB {
    margin: 0 25px;
}
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
